<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Account Settings</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>
        <p ng-show="vm.message" class="help-block alert alert-danger">{{ vm.message }}</p>
        <div class="form-group">
          <label>Username</label>
          <!-- current username here -->
          <div class="editContainer">
            <button ng-show='!vm.editUsername' ng-click='vm.editUsername = true'>{{ vm.username }}</button>
            <input type="username" name="username" placeholder="" class="form-control" ng-model="vm.username" ng-show='vm.editUsername'/>
            <!-- <button class="btn btn-lg btn-primary editBtn" type="edit" ng-click="vm.editUsername = true;" ng-show='!vm.editUsername'>
              Edit
            </button>
            <button class="btn btn-lg btn-primary editBtn" type="Save" ng-click="vm.changeUsername(form)" ng-show="vm.editUsername">
              Save
            </button> -->
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <!-- current username here -->
          <div class="editContainer">
            <button ng-show='!vm.editEmail' ng-click='vm.editEmail = true'>{{ user.email }}</button>
            <input type="email" name="email" placeholder="" class="form-control" ng-model="vm.email" ng-show='vm.editEmail'/>
            <!-- <button class="btn btn-lg btn-primary editBtn" type="edit" ng-show='false'>
              Edit
            </button>
            <button class="btn btn-lg btn-primary editBtn" type="Save" ng-hide='false'>
              Save
            </button> -->
          </div>
        </div>

        <div class="form-group">
          <label>Current Password</label>
          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>
        <div class='buttonContainer'>
          <button class="btn btn-lg btn-primary" type="save" ng-click='vm.editUsername = false; vm.editEmail = false' >Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
