
<div class="container full-width">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 center-content">
      <img src="assets/images/circle-icons-1295218_640.png" id="char-profile-image" alt="Dragon Image">
    </div>
  </div>
  <div class='row center-content'>
    <div class="col-xs-4 center-content helpTxt" >
      <p>Need some help getting started?</p>
    </div>
  </div>
  <!-- Beginning of home menu tabs -->
  <div class="row profile-tab-row">
    <div class="col-xs-4 profile-tab center-content">
      <div ng-click="">Rules</div>
    </div>
    <div class="col-xs-4 profile-tab center-content">
      <div ng-click=''>Spells List</div>
    </div>
    <div class="col-xs-4 profile-tab center-content">
      <div ng-click=''>Quick Guide</div>
    </div>
  </div>
</div>
