
<div class="container full-width">
  <div class="row" style='margin-top: 22px'>
    <div class="col-xs-4 col-xs-offset-4 center-content">
<img src="assets\images\DnDlogo.png" id='main-image' alt="Dragon Image">
    </div>
  </div>
  <div class='row center-content'>
    <div class="col-xs-4 center-content helpTxt" >
      <h4>Need some help getting started?</h4>
    </div>
  </div>
  <!-- Beginning of home menu tabs -->
  <div class="profile-tab-row">
    <div class="col-xs-4 profile-tab center-content">
      <div ng-click="">Rules</div>
    </div>
    <div class="col-xs-4 profile-tab center-content">
      <div ng-click=''>Spells List</div>
    </div>
    <div class="col-xs-4 profile-tab center-content">
      <div ng-click=''>Quick Guide</div>
    </div>
  </div>
</div>
