<div class="backgroundView">

<div class="backgroundDesc">
  <div ng-if="genCtrl.currentBackground.specialTrait.isThere">
    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.specialTraitButton()">
      {{ genCtrl.currentBackground.specialTrait.name }}
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <p>{{ genCtrl.currentBackground.specialTrait.desc }}</p>
        <form ng-submit="genCtrl.saveSpecialTrait()">
          <div ng-repeat="item in genCtrl.currentBackground.specialTrait.list">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countSpecialTrait > genCtrl.maxSpecialTrait) && (!item.check)" ng-checked="item.check" ng-model="item.check" ng-click="genCtrl.checkedSpecialTrait(item)">
                {{ item.desc }}
              </label>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-click="genCtrl.checkedSpecialTrait(createItem); genCtrl.createOwnSpecialTrait()" ng-disabled="(genCtrl.countSpecialTrait > genCtrl.maxSpecialTrait) && (!createItem.check)"  ng-checked="createItem.check" ng-model="createItem.check">
              Create your own.
            </label>
          </div>
          <div ng-show="genCtrl.writeSpecialTrait">
            <textarea class="form-control" rows="3" ng-model="genCtrl.textSpecialTrait" ng-keydown="$event.which === 13 && genCtrl.saveOwnSpecialTrait(genCtrl.textSpecialTrait)"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.traitsButton()">
      Traits
    </button>
    <div ng-show="genCtrl.display2">
      display2
    </div>
  </div>

  <div>
    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.idealsButton()">
      Ideals
    </button>
    <div ng-show="genCtrl.display3">
      display3
    </div>
  </div>

  <div>
    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.bondsButton()">
      Bonds
    </button>
    <div ng-show="genCtrl.display4">
      display4
    </div>
  </div>

  <div>
    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.flawsButton()">
      Flaws
    </button>
    <div ng-show="genCtrl.display5">
      display5
    </div>
  </div>


</div>

</div>
