
@background-color: #F2CD82;
@color-secondary: #575A61;
@active-item: #d7f7ff;

.iconList {
  margin-top: 10px;
  // margin-left: 10px;
  // width: 55px;
}

.list-group {
  margin-bottom: 0px;
  &.active img {
    background-color: @active-item;
  }
}

.list-group-item {
  max-width:55px;
  max-height: 55px;
}

.classView, .raceView, .backgroundView, .armorView, .alignmentView, .profView, .abilityScoresView {
  display: flex;
}

.classDesc, .raceDesc, .backgroundDesc, .armotDesc, .alignmentDesc, .profDesc, .abilityScoresDesc {
    width: 100%;
    text-align: center;
}

.summary {
  padding: 0px 10px;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  padding: 10px 15px;
  background-color: @background-color;
}

#banner h1 {
  margin-top: 10px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.nav-box {
  margin: 12px 0px;
  border:1px;
  padding-right: 0px;
}

.nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: 1px grey;
}

.navbar-text {
  margin-left: 15px;
  color: @color-secondary;
}

.editBtn {
  padding: 0px 16px;
}

.createBtn{
  width: 100%;
  margin: 0px;
}

.emphasis {
  font-weight: bold;
}

.bg-list-button {
  width: 100%;
  align-self: center;
}

.bg-randomize-btn {
  align-self: center;
}

.btn-underneath {
  margin-top: 9px;
}

.background-detail-box {
  text-align: left;
  padding: 5px;
  border: 1px solid #575A61;
  margin: 5px
}

#bonus-skills-list {
  list-style-type: none;
}

.make-some-space {
  margin-top: 5px;
}

.or-spacer {
  margin-top: 5px;
  margin-bottom: 11px;
}

.force-inline {
  input.form-control {
    display: inline-block;
    width: auto;
  }
}

.box-30-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sticky-wrapper {
  position: sticky;
  top: 60px;
}
