<div class="raceView">
  <div class="raceDesc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1> Lets get started! </h1>
          <p class="emphasis">{{ genCtrl.levelRequired }}</p>

          <form class="force-inline box-30-margin">
            <div class="form-group">
              <label for="characterLevel">Character Level:</label>
              <input type="number" class="form-control" ng-model="genCtrl.characterLevel" placeholder="1-20">
            </div>
          </form>

          <button class="btn btn-lg btn-primary createBtn" ng-click="genCtrl.selectLevelAndSubmit('race')" type="new character">
            Race
          </button>
          <h3 class='or-spacer text-center'>or</h3>
          <button class="btn btn-lg btn-primary createBtn" ng-click="genCtrl.selectLevelAndSubmit('class')" type="new character">
            Class
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
