<h2 style='text-align: center;'> Protect yourself! </h2>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <button class="btn btn-lg btn-primary createBtn btn-underneath" ng-click="genCtrl.createChar('armor')" type="button">
        Armor
      </button>

      <button class="btn btn-lg btn-primary createBtn" ng-click="genCtrl.createChar('equip')" type="button">
        Equipment
      </button>

      <button class="btn btn-lg btn-danger createBtn" ng-click="genCtrl.createChar('generatorthree')" type="button">
        Go Back
      </button>
    </div>
  </div>
</div>
