<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div>
        <h2 style='text-align:center;'>{{ genCtrl.characterInfo.class.main }} Weapons</h2>
        <p class='summary'>Pick your weapons from the list below <span>(recommended weapons for quickbuild are already selected)</span></p>
      </div>

<!-- <div ng-show=genCtrl.displaySimpleMelee> -->
    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.displaySimpleMelee = !genCtrl.displaySimpleMelee">
      Simple Melee
    </button>
    <div ng-show="genCtrl.displaySimpleMelee">
      <div class="background-detail-box">
        <form ng-submit='genCtrl.saveWeapons()'>
          <div ng-repeat="weapon in genCtrl.weaponsList.simpleMelee">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countSimpleMelee >= genCtrl.maxSimpleMelee) && (!weapon.check)" ng-click="genCtrl.checkedSimpleMelee(weapon)" ng-checked="weapon.check" ng-model="weapon.check">
                {{ weapon.name }}, {{weapon.damage}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  <!-- </div> -->

    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.displaySimpleRanged = !genCtrl.displaySimpleRanged">
      Simple Ranged
    </button>
    <div ng-show="genCtrl.displaySimpleRanged">
      <div class="background-detail-box">
        <form ng-submit="genCtrl.saveWeapons()">
          <div ng-repeat="weapon in genCtrl.weaponsList.simpleRanged">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countSimpleRanged >= genCtrl.maxSimpleRanged) && (!weapon.check)" ng-click="genCtrl.checkedSimpleRanged(weapon)" ng-checked="weapon.check" ng-model="weapon.check">
                {{ weapon.name }}, {{weapon.damage}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.displayMartialMelee = !genCtrl.displayMartialMelee">
      Martial Melee
    </button>
    <div ng-show="genCtrl.displayMartialMelee">
      <div class="background-detail-box">
        <form ng-submit="genCtrl.saveWeapons()">
          <div ng-repeat="weapon in genCtrl.weaponsList.martialMelee">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countMartialMelee >= genCtrl.maxMartialMelee) && (!weapon.check)" ng-click="genCtrl.checkedMartialMelee(weapon)" ng-checked="weapon.check" ng-model="weapon.check">
                {{ weapon.name }}, {{weapon.damage}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button btn-underneath" ng-click="genCtrl.displayMartialRanged = !genCtrl.displayMartialRanged">
      Martial Ranged
    </button>
    <div ng-show="genCtrl.displayMartialRanged">
      <div class="background-detail-box">
        <form ng-submit="genCtrl.saveWeapons()">
          <div ng-repeat="weapon in genCtrl.weaponsList.martialRanged">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countMartialRanged >= genCtrl.maxMartialRanged) && (!weapon.check)" ng-click="genCtrl.checkedMartialRanged(weapon)" ng-checked='weapon.check' ng-model="weapon.check">
                {{ weapon.name }}, {{weapon.damage}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class='weaponsDesc'>
      <button class="btn btn-lg btn-success bg-list-button btn-underneath" ng-click="genCtrl.saveWeapons()"  type="">
        Submit &amp; Continue
      </button>

      <button class="btn btn-lg btn-danger bg-list-button btn-underneath" ng-click="genCtrl.returnToAbilityScore()"  type="button">
        Go Back to Ability Scores
      </button>
    </div>
</div>
</div>
</div>
