<div class='classView'>
  <div class="iconList">
    <div class='list-group' ng-repeat="build in genCtrl.classList" >
      <img ng-src='{{ build.icon }}' class='list-group-item' ng-click="genCtrl.selectClass(build)">
    </div>
  </div>

  <div class='classDesc'>
    <div>
      <h3> {{genCtrl.currentClass.name}} </h3>
      <p class='summary'>{{genCtrl.currentClass.desc}}</p>
    </div>

    <button class="btn btn-lg btn-primary" ng-click="genCtrl.createChar('generator2')"  type="">
      Submit &amp; Continue
    </button>

  </div>
</div>
