<div class='backgroundView' ng-show='genCtrl.MainBackground'>
  <div class="iconList">
    <div class='list-group' ng-repeat="background in genCtrl.backgroundList" >
      <img ng-src='{{ background.icon }}' class='list-group-item' ng-click="genCtrl.selectBackground(background)">
    </div>
  </div>

  <div class='backgroundDesc'>
    <div ng-show="genCtrl.background1">
      <div>
        <h3> {{genCtrl.currentBackground.name}} </h3>
        <p class='summary'>{{genCtrl.currentBackground.desc}}</p>
        <p class='summary'><span class="emphasis">General Characteristics:</span> {{ genCtrl.currentBackground.characteristics }}</p>
      </div>
      <div ng-if="genCtrl.currentBackground.variant.isThere">
        <div class="emphasis"><a ng-href="" ng-click="genCtrl.backgroundVariant()">{{ genCtrl.currentBackground.variant.title }}</a></div>
        <div ng-show="genCtrl.showBackgroundVariant">
          <div>{{ genCtrl.currentBackground.variant.desc }}</div>
          <div ng-if="genCtrl.currentBackground.variant.isAltFeature">
            <span class="emphasis">Varient Feature: {{ genCtrl.currentBackground.variant.altFeatureTitle }}:</span> {{ genCtrl.currentBackground.variant.altFeature }}
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <tr class="table-head">
          <th colspan="2">Bonuses</th>
        </tr>
        <tr>
          <td>Additional Skill Proficiencies</td>
          <td><div ng-repeat="skill in genCtrl.currentBackground.addSkillProf">{{ skill }}</div></td>
        </tr>
        <tr>
          <td>Additional Language Proficiencies</td>
          <td><div ng-repeat="lang in genCtrl.currentBackground.addLanguages">{{ lang }}</div></td>
        </tr>
        <tr>
          <td>Additional Tools Proficiencies</td>
          <td><div ng-repeat="tool in genCtrl.currentBackground.addToolProf">{{ tool }}</div></td>
        </tr>
        <tr>
          <td>Additional Equipment</td>
          <td><div ng-repeat="equip in genCtrl.currentBackground.addEquipment">{{ equip }}</div></td>
        </tr>
      </table>

      <button class="btn btn-lg btn-primary" ng-click="genCtrl.selectMainBackground()">
        Submit &amp; Continue
      </button>
    </div>
  </div>
</div>

<div class='backgroundView' ng-hide='genCtrl.MainBackground'>

  <button class='btn btn-lg btn-secondary' data-toggle='collapse' data-target='#special'>Special Trait</button>
  <div id='special' class='collapse'>
    <label ng-repeat='background in genCtrl.backgroundList'>
      <input type='checkbox' name='selectedbackground[]' value='{{background.specialTrait.list.desc}}' ng-model='background.selected'>
      {{background.specialTrait.list.desc}}
    </label>
  </div>

  <button class='btn btn-lg btn-secondary' data-toggle='collapse' data-target='#personality'>Personality Trait</button>
  <div id='personality' class='collapse'>
    <label ng-repeat='background in genCtrl.backgroundList'>
      <input type='checkbox' name='selectedbackground[]' value='{{background.personalityTraits.desc}}' ng-model='background.selected'>
      {{background.personalityTraits.desc}}
    </label>
  </div>

  <button class='btn btn-lg btn-secondary' data-toggle='collapse' data-target='#ideals'>Ideals</button>
  <div id='ideals' class='collapse'>
    <label ng-repeat='background in genCtrl.backgroundList'>
      <input type='checkbox' name='selectedbackground[]' value='{{background.ideals.desc}}' ng-model='background.selected'>
      {{background.ideals.desc}}
    </label>
  </div>

  <button class='btn btn-lg btn-secondary' data-toggle='collapse' data-target='#ideals'>Ideals</button>
  <div id='ideals' class='collapse'>
    <label ng-repeat='background in genCtrl.backgroundList'>
      <input type='checkbox' name='selectedbackground[]' value='{{background.ideals.desc}}' ng-model='background.selected'>
      {{background.ideals.desc}}
    </label>
  </div>

  <button class='btn btn-lg btn-secondary' data-toggle='collapse' data-target='#bonds'>Bonds</button>
  <div id='ideals' class='collapse'>
    <label ng-repeat='background in genCtrl.backgroundList'>
      <input type='checkbox' name='selectedbackground[]' value='{{background.bonds.desc}}' ng-model='background.selected'>
      {{background.bonds.desc}}
    </label>
  </div>

  <button class='btn btn-lg btn-secondary' data-toggle='collapse' data-target='#flaws'>Flaws</button>
  <div id='ideals' class='collapse'>
    <label ng-repeat='background in genCtrl.backgroundList'>
      <input type='checkbox' name='selectedbackground[]' value='{{background.flaws.desc}}' ng-model='background.selected'>
      {{background.flaws.desc}}
    </label>
  </div>

  <button class="btn btn-lg btn-primary" ng-click="genCtrl.saveBackground()" type="">
    Submit &amp; Continue
  </button>

</div>
