<div class='weaponsView'>
  <div class="iconList">
    <div class='list-group' ng-repeat="build in genCtrl.weaponsList" >
      <img ng-src='{{ weapons.icon }}' class='list-group-item' ng-click="genCtrl.selectweapons(weapons)">
    </div>
  </div>

  <div class='weaponsDesc'>
    <div>
      <h3> {{genCtrl.currentWeapons.name}} </h3>
      <p class='summary'>{{genCtrl.currentWeapons.desc}}</p>
    </div>
    <button class="btn btn-lg btn-primary" ng-click="genCtrl.createChar('weapons')"  type="new character">
      Submit &amp; Continue
    </button>
  </div>
</div>

<div>
    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.simpleMeleeButton()">
      Simple Melee
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <p>{{ genCtrl.currentWeapons.simpleMelee.desc }}</p>
          <div ng-repeat="item in genCtrl.currentWeapons.simpleMelee.list">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-click="genCtrl.simpleMeleeButton()" ng-model="{{ item.number }}">
                {{ item.desc }}
              </label>
            </div>
          </div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.simpleRangedButton()">
      Simple Ranged
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <p>{{ genCtrl.currentWeapons.simpleRanged.desc }}</p>
          <div ng-repeat="item in genCtrl.currentWeapons.simpleRanged.list">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-click="genCtrl.simpleRangedButton()" ng-model="{{ item.number }}">
                {{ item.desc }}
              </label>
            </div>
          </div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.martialMeleeButton()">
      Martial Melee
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <p>{{ genCtrl.currentWeapons.martialMelee.desc }}</p>
          <div ng-repeat="item in genCtrl.currentWeapons.martialMelee.list">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-click="genCtrl.martialeMeleeButton()" ng-model="{{ item.number }}">
                {{ item.desc }}
              </label>
            </div>
          </div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.martialWeaponButton()">
      Martial Ranged
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <p>{{ genCtrl.currentWeapons.martialWeapon.desc }}</p>
          <div ng-repeat="item in genCtrl.currentWeapons.martialWeapon.list">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-click="genCtrl.martialWeaponButton()" ng-model="{{ item.number }}">
                {{ item.desc }}
              </label>
            </div>
          </div>
      </div>
    </div>

</div>
