<div class="armorView">
<div class="armorDesc">
  <div>
    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.displayLightArmor = !genCtrl.displayLightArmor">
      Light Armor
    </button>
    <div ng-show="genCtrl.displayLightArmor">
      <div class="background-detail-box">
        <form ng-submit='genCtrl.saveArmor()'>
          <div ng-repeat="armor in genCtrl.armorList.lightArmor">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.armorCount >= genCtrl.armorMax) && (!armor.check)" ng-checked="armor.check" ng-model="armor.check" ng-click="genCtrl.checkedLightArmor(armor)">
                {{ armor.name }}, Armor Class: {{armor.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.displayMediumArmor = !genCtrl.displayMediumArmor">
      Medium Armor
    </button>
    <div ng-show="genCtrl.displayMediumArmor">
      <div class="background-detail-box">
        <form ng-submit='genCtrl.saveArmor()'>
          <div ng-repeat="armor in genCtrl.armorList.mediumArmor">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.armorCount >= genCtrl.armorMax) && (!armor.check)" ng-checked="armor.check" ng-model="armor.check" ng-click="genCtrl.checkedMediumArmor(armor)">
                {{ armor.name }}, Armor Class: {{armor.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.displayHeavyArmor = !genCtrl.displayHeavyArmor">
      Heavy Armor
    </button>
    <div ng-show="genCtrl.displayHeavyArmor">
      <div class="background-detail-box">
        <!-- <p>{{ genCtrl.currentWeapons.simpleMelee.name }}</p> -->
        <form ng-submit='genCtrl.saveArmor()'>
          <div ng-repeat="armor in genCtrl.armorList.heavyArmor">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.armorCount >= genCtrl.armorMax) && (!armor.check)" ng-checked="armor.check" ng-model="armor.check" ng-click="genCtrl.checkedHeavyArmor(armor)">
                {{ armor.name }}, Armor Class: {{armor.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.displayShields = !genCtrl.displayShields">
      Shields
    </button>
    <div ng-show="genCtrl.displayShields">
      <div class="background-detail-box">
        <form ng-submit='genCtrl.saveArmor()'>
          <div ng-repeat="shield in genCtrl.armorList.shield">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.shieldCount >= genCtrl.shieldMax) && (!shield.check)" ng-checked="shield.check" ng-model="shield.check" ng-click="genCtrl.checkedShield(shield)">
                {{ shield.name }}, Armor Class: {{shield.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

      <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.saveArmor()"  type="new character">
        Submit &amp; Continue
      </button>
    </div>

  </div>

</div>
