<div class='alignmentView'>
  <div class="iconList">
    <div class='list-group' ng-repeat="align in genCtrl.alignList" >
      <img ng-src='{{ align.icon }}' class='list-group-item' ng-click="genCtrl.selectAlign(align)">
    </div>
  </div>

  <div class='alignmentDesc'>
    <div>
      <h3> {{genCtrl.currentAlign.name}} </h3>
      <p class='summary'>{{genCtrl.currentAlign.desc}}</p>
      <p><span class="emphasis">Types of characters who are commonly {{ genCtrl.currentAlign.name }}:</span> {{ genCtrl.currentAlign.common }}</p>
    </div>

    <button class="btn btn-lg btn-primary" ng-click="genCtrl.saveAlign()"  type="">
      Submit &amp; Continue
    </button>

  </div>
</div>
