<div class='raceView'>
  <div class="iconList">
    <div class='list-group' ng-repeat="race in genCtrl.raceList" >
      <img ng-src='{{ race.icon }}' class='list-group-item' ng-click="genCtrl.selectRace(race)">
    </div>
  </div>

  <div class='raceDesc'>
    <div>
      <h3> {{genCtrl.currentRace.name}} </h3>
      <p class='summary'>{{genCtrl.currentRace.desc}}</p>
    </div>

    <table class="table table-striped">
      <tr class="table-head">
        <th colspan="2"> Traits </th>
      </tr>
      <tr>
        <td>Average Age</td>
        <td>{{ genCtrl.currentRace.traits.aveAge }}</td>
      </tr>
      <tr>
        <td>Average Height</td>
        <td>{{ genCtrl.currentRace.traits.aveHeight }}</td>
      </tr>
      <tr>
        <td>Base Speed</td>
        <td>{{ genCtrl.currentRace.traits.baseSpd }}</td>
      </tr>
      <tr>
        <td>Languages</td>
        <td>{{ genCtrl.currentRace.traits.lang }}</td>
      </tr>
      <tr>
        <td>Tools</td>
        <td>{{ genCtrl.currentRace.traits.tools }}</td>
      </tr>
    </table>

    <button class="btn btn-lg btn-primary" ng-click="genCtrl.saveRace(currentRace, first)" type="">
      Submit &amp; Continue
    </button>

  </div>
</div>
