<div class='classView' ng-show="genCtrl.classMain">
  <div class="iconList">
    <div class="sticky-wrapper2">
      <div class='list-group' ng-class="{ 'active': build == genCtrl.currentClass }" ng-repeat="build in genCtrl.classList" >
        <img ng-src='{{ build.icon }}' class='list-group-item' ng-click="genCtrl.selectClass(build)">
      </div>
    </div>
  </div>

  <div class='classDesc'>
    <div>
      <h2> {{genCtrl.currentClass.name}} </h2>
      <p class='summary'>{{genCtrl.currentClass.shortDesc}}</p>
    </div>

    <table class="table table-striped">
      <tr class="table-head">
        <th colspan="2"> Traits </th>
      </tr>
      <tr>
        <td>Primary Ability</td>
        <td>{{ genCtrl.currentClass.traits.primeAbility }}</td>
      </tr>
      <tr>
        <td>Saving Throw Proficiencies</td>
        <td>{{ genCtrl.currentClass.traits.SaveThrowProf }}</td>
      </tr>
    </table>

    <table class="table table-striped">
      <tr class="table-head">
        <th colspan="2"> Skill List</th>
      </tr>
      <tr>
        <td colspan="2"><div ng-repeat="skillsList in genCtrl.currentClass.traits.skillsList">{{ skillsList }}</div></td>
      </tr>
    </table>

    <table class="table table-striped">
      <tr class="table-head">
        <th> Features </th>
      </tr>
      <tr>
        <td><div ng-repeat="feature in genCtrl.currentClass.traits.features">Level {{ feature.level }} - {{ feature.name }}</div></td>
      </tr>
    </table>

    <table class="table table-striped">
      <tr class="table-head">
        <th colspan="2"> Starting Equipment </th>
      </tr>
      <tr>
        <td>Primary Weapon</td>
        <td>{{ genCtrl.currentClass.traits.startEquip.weapon1 }}</td>
      </tr>
      <tr>
        <td>Secondary Weapon</td>
        <td>{{ genCtrl.currentClass.traits.startEquip.weapon2 }}</td>
      </tr>
      <tr>
        <td>Miscellaneous</td>
        <td><div ng-repeat="misc in genCtrl.currentClass.traits.startEquip.misc">{{ misc }}</div></td>
      </tr>
    </table>

    <table class="table table-striped">
      <tr class="table-head">
        <th colspan="2"> Combat </th>
      </tr>
      <tr>
        <td>Hit Die</td>
        <td>{{ genCtrl.currentClass.combat.hitDie }}</td>
      </tr>
      <tr>
        <td>HP at level 1</td>
        <td>{{ genCtrl.currentClass.combat.hitPtsLvl1 }}</td>
      </tr>
      <tr>
        <td>Armor Proficiency</td>
        <td><div ng-repeat="armorProf in genCtrl.currentClass.combat.armorProf">{{ armorProf }}</div></td>
      </tr>
      <tr>
        <td>Weapon Proficiency</td>
        <td><div ng-repeat="weaponProf in genCtrl.currentClass.combat.weaponProf">{{ weaponProf }}</div></td>
      </tr>
    </table>

    <button class="btn btn-lg btn-primary createBtn2" ng-click="genCtrl.selectMainClass()"  type="">
      Submit &amp; Continue
    </button>

    <button class="btn btn-lg btn-danger createBtn2 btn-underneath" ng-click="genCtrl.returnToBeginning2()" type="">
      Go Back
    </button>

  </div>
</div>

<div class="classView" ng-hide="genCtrl.classMain">
  <div class="iconList">
    <div class="sticky-wrapper">
      <div class='list-group' ng-class="{ 'active': archetype == genCtrl.currentArchetype }" ng-repeat="archetype in genCtrl.selectedClass.archetype.types">
        <img ng-src='{{ archetype.placeholder }}' class='list-group-item' ng-click="genCtrl.selectArchetype(archetype)">
      </div>
    </div>
  </div>

  <div class="classDesc">
    <h3> {{genCtrl.currentArchetype.name}} </h3>
    <p class='summary'>{{genCtrl.currentArchetype.desc}}</p>

    <table class="table table-striped" ng-show="genCtrl.currentArchetype.features">
      <tr class="table-head">
        <th>Features:</th>
        <td>
            <div ng-repeat="feature in genCtrl.currentArchetype.features track by $index">Level {{ feature.level }} - {{ feature.name }}</div>
        </td>
      </tr>
    </table>

    <button class="btn btn-lg btn-primary createBtn2" ng-click="genCtrl.saveClass()" type="">
      Submit &amp; Continue
    </button>

    <button class="btn btn-lg btn-danger createBtn2 btn-underneath" ng-click="genCtrl.goBackToClass()" type="">
      Return to Class
    </button>
