<div class="raceView">
  <div class="iconList">
    <div class='list-group' ng-repeat="subrace in genCtrl.selectedRace.subraces">
      <div class='list-group-item' ng-click="genCtrl.selectSubrace(subrace)"><img src="http://placehold.it/25"></div>
    </div>
  </div>
  <div class="raceDesc">
    <h3> {{genCtrl.currentSubrace.name}} </h3>
    <p class='summary'>{{genCtrl.currentSubrace.summary}}</p>
    <p class="summary" ng-show="genCtrl.currentSubrace.abilScore">
      <span class='emphasis'>Ability Scores:</span>
      {{genCtrl.currentSubrace.abilScore}}
    </p>

    <table class="table" ng-show="genCtrl.currentSubrace.features">
      <tr class="table-head">
        <th>Additional Traits:</th>
        <td>
          <div ng-show="genCtrl.currentSubrace.repeat">
            <div ng-repeat="trait in genCtrl.currentSubrace.features track by $index">{{ trait }}</div>
          </div>
          <div ng-hide="genCtrl.currentSubrace.repeat">
            {{ genCtrl.currentSubrace.features }}
          </div>
        </td>
      </tr>
    </table>

    <button class="btn btn-lg btn-primary" ng-click="genCtrl.saveRace(); genCtrl.createChar('generatortwo')" type="">
      Submit &amp; Continue
    </button>
    <br>
    <button class="btn btn-lg btn-primary btn-underneath" ng-click="genCtrl.createChar('race')" type="new character">
      Return to Race
    </button>

  </div>
</div>
