<div class='raceView'>
  <div class="iconList">
    <div class='list-group' ng-repeat="race in genCtrl.raceList" >
      <img ng-src='{{ race.icon }}' class='list-group-item' ng-click="genCtrl.selectRace(race); genCtrl.selectSubrace(subrace)">
    </div>
  </div>

  <div class='raceDesc'>
    <div>
      <h3> {{genCtrl.currentRace.name}} </h3>
      <p class='summary'>{{genCtrl.currentRace.shortDesc}}</p>
      <p class="summary"><span class='emphasis'>Ability Scores:</span> {{genCtrl.currentRace.traits.abilScore}}</p>
    </div>

    <table class="table table-striped">
      <tr class="table-head">
        <th colspan="2"> Traits </th>
      </tr>
      <tr>
        <td>Age of Adulthood</td>
        <td>{{ genCtrl.currentRace.traits.adultAge }}</td>
      </tr>
      <tr>
        <td>Average Lifespan</td>
        <td>{{ genCtrl.currentRace.traits.lifespan}}</td>
      </tr>
      <tr>
        <td>Average Height</td>
        <td>{{ genCtrl.currentRace.traits.aveHeight }}</td>
      </tr>
      <tr>
        <td>Average Weight</td>
        <td>{{ genCtrl.currentRace.traits.aveWeight }}</td>
      </tr>
      <tr>
        <td>Base Speed</td>
        <td>{{ genCtrl.currentRace.traits.baseSpd }}</td>
      </tr>
      <tr>
        <td>Languages</td>
        <td><div ng-repeat="lang in genCtrl.currentRace.traits.lang">{{ lang }}</div></td>
      </tr>
      <tr ng-show="genCtrl.currentRace.traits.features">
        <td>Feats</td>
        <td><div ng-repeat="feat in genCtrl.currentRace.traits.features">{{ feat }}</div></td>
      </tr>
      <tr ng-show="genCtrl.currentRace.subraces">
        <td>Subraces</td>
        <td><div ng-repeat="subrace in genCtrl.currentRace.subraces">{{ subrace.name }}</div></td>
      </tr>
    </table>

    <button class="btn btn-lg btn-primary" ng-click="genCtrl.selectMainRace(); genCtrl.createChar('subrace')" type="">
      Submit &amp; Continue
    </button>
  </div>
</div>
