<div class='spellsView'>
  <div class="iconList">
    <div class='list-group' ng-repeat="build in genCtrl.spellsList" >
      <img ng-src='{{ spells.icon }}' class='list-group-item' ng-click="genCtrl.selectspells(spells)">
    </div>
  </div>

  <div class='spellsDesc'>
    <div>
      <h3> {{genCtrl.currentSpells.name}} </h3>
      <p class='summary'>{{genCtrl.currentSpells.desc}}</p>
    </div>

    <button class="btn btn-lg btn-primary" ng-click="genCtrl.createChar('stats')"  type="new character">
      Submit &amp; Continue
    </button>

  </div>
</div>
