
  <div>
    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.lightArmorButton()">
      Light Armor
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <!-- <p>{{ genCtrl.currentWeapons.simpleMelee.name }}</p> -->
        <form ng-submit='genCtrl.saveLightArmor()'>
          <div ng-repeat="item in genCtrl.currentArmor.lightArmor">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countLightArmor > genCtrl.maxLightArmor) && (!item.check)" ng-click="genCtrl.checkedLightArmor(item)" ng-checked="item.check" ng-model="item.check">
                {{ item.name }}, {{item.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.mediumArmorButton()">
      Medium Armor
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <!-- <p>{{ genCtrl.currentWeapons.simpleMelee.name }}</p> -->
        <form ng-submit='genCtrl.saveMediumArmor()'>
          <div ng-repeat="item in genCtrl.currentArmor.mediumArmor">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countMediumArmor > genCtrl.maxMediumArmor) && (!item.check)" ng-click="genCtrl.checkedMediumArmor(item)" ng-checked="item.check" ng-model="item.check">
                {{ item.name }}, {{item.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.HeavyArmorButton()">
      Heavy Armor
    </button>
    <div ng-show="genCtrl.display1">
      <div class="background-detail-box">
        <!-- <p>{{ genCtrl.currentWeapons.simpleMelee.name }}</p> -->
        <form ng-submit='genCtrl.saveHeavyArmor()'>
          <div ng-repeat="item in genCtrl.currentArmor.HeavyArmor">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="(genCtrl.countHeavyArmor > genCtrl.maxHeavyArmor) && (!item.check)" ng-click="genCtrl.checkedHeavyArmor(item)" ng-checked="item.check" ng-model="item.check">
                {{ item.name }}, {{item.armorClass}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    

    <div class='weaponsDesc'>
      <div>
        <h3> {{genCtrl.currentWeapons.name}} </h3>
        <p class='summary'>{{genCtrl.currentWeapons.desc}}</p>
      </div>
      <button class="btn btn-lg btn-primary bg-list-button" ng-click="genCtrl.saveWeapons()"  type="new character">
        Submit &amp; Continue
      </button>
    </div>

</div>
