<div class="container">
  <div class="row">

    <div class="col-xs-12 top-of-page">
      <button class="btn btn-lg btn-primary createBtn" ui-sref="generator" type="new character">Create a new character</button>
    </div>

  </div>
  <hr>
  <div ng-repeat="character in charCtrl.getCurrentUser().characters">
    <div class="row">
      <div ng-click="charCtrl.goToCharProfile(character)">
      <div class="col-xs-7">
        {{ character.bio.name }} - Lvl. {{ character.general.level }}
      </div>
      <div class="col-xs-5">
        <img ng-src="assets/images/icons/{{character.bio.gender}}.png" class='char-icon' alt="{{character.bio.gender}}"> <img ng-src="assets/images/icons/{{character.race.main}}.png" class='char-icon' alt="{{character.race.main}}"> <img ng-src="assets/images/icons/{{character.class.main}}.png" class='char-icon' alt="{{character.class.main}}">
      </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">

      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6 nav-box" ng-repeat="character in charCtrl.getCurrentUser().characters">
        <li>
          <a href="#">{{character.bio.name}}</a>
            <button class="btn btn-lg btn-primary editBtn" type="edit">
              Edit
            </button>
        </li>
      </ul>
      <button class="btn btn-lg btn-primary createBtn" ui-sref="generator" type="new character">
        Create
      </button>
    </div>
  </div>
</div> -->
