<div class="container">
  <div class="row">
    <div class="col-xs-12 top-of-page">
      <button>Create a new character</button>
    </div>
  </div>
  <hr>
  <div ng-repeat="character in charCtrl.getCurrentUser().characters">
    <div class="row">
      <div ng-click="charCtrl.goToCharProfile(character)">
      <div class="col-xs-6">
        {{ character.bio.name }}
      </div>
      <div class="col-xs-6">
        <p>{{ character.general.level }} {{ character.bio.gender | limitTo: 1 }} {{ character.race.main }} {{ character.class.main }}</p>
      </div>
      </div>
    </div>
    <hr>
  </div>
</div>
