<div class="navbar navbar-default navbar-static-top" >
  <div id='currentUser'>
    <p ng-show="$ctrl.isLoggedIn()" class="navbar-text navbar-loggedin"> {{ $ctrl.getCurrentUser().name }}</p>
    <div class="step-name" ng-if="$ctrl.$state.current.friendlyName">
      &mdash; {{ $ctrl.$state.current.friendlyName }}
    </div>
  </div>
  <div class="container" ng-show="$ctrl.isLoggedIn()" >
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsedHorizontal = !$ctrl.isCollapsedHorizontal">
        <span class="sr-only">Toggle nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div uib-collapse="$ctrl.isCollapsedHorizontal" class="horizontal-collapse" id="navbar-main" horizontal>
      <ul class="nav navbar-nav">
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="usermain" ng-click="$ctrl.isCollapsedHorizontal = !$ctrl.isCollapsedHorizontal">Home</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="charlist" ng-click="$ctrl.isCollapsedHorizontal = !$ctrl.isCollapsedHorizontal">Characters</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings" ng-click="$ctrl.isCollapsedHorizontal = !$ctrl.isCollapsedHorizontal"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout" ng-click="$ctrl.isCollapsedHorizontal = !$ctrl.isCollapsedHorizontal">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
